#movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
h2 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: xxx-large;
}
#loading {
    display: flex;
    align-items: center;

}
#searchbar {

}