#movieContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: auto;
}
.card-title, .card-subtitle {
    font-family: 'Pricedown';
    text-align: center;
    font-size: x-large;
}
h1{
    font-size: xxx-large;
    text-align: center;
}
#loading {
    display: flex;
    align-items: center;

}
.header-title {
    font-family: 'Pricedown';
}

